<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="flexWrapper">
                        <h2>{{this.project.name}}</h2>
                        <h2>Project</h2>
                        <div>
                            <div class="AESKey">
                                <h2>AES key</h2>
                                <!--                                <p v-if="this.apiKey.length>0">{{this.apiKey}}</p>-->
                                <button class="btn btn-primary" v-on:click="setKey">Set AES key
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h3>Log entries</h3>
                                <div v-for="(logEntry, key) in this.logEntries" :key="key+'LogEntry'">
                                    <a :href="baseURL + '/log-entry/'+logEntry.uuid"><h2>{{logEntry.created_at}}</h2></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h3>Project logs</h3>
                                <div v-for="(log,key) in this.project.logs" :key="key+'log'">
                                    <div class="flexWrapper">
                                        <p>{{log.created_at + ' ' + logCodes[log.event_type]}}</p>
                                        <b-button v-b-toggle="'collapse-'+key" class="m-1">Toggle Collapse</b-button>
                                    </div>
                                    <b-collapse :id="'collapse-'+key">
                                        <b-card>{{log.event_data}} {{ log.user.name}}</b-card>
                                    </b-collapse>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {codes} from "../logCodes";
    import BootstrapVue from 'bootstrap-vue'

    Vue.use(BootstrapVue);
    export default {
        name: "allLogEntries",
        data() {
            return {
                logEntries: [],
                project: {},
                publicKey: "",
                link: '',
                logCodes: {},
                baseURL: ''
            }
        },
        methods: {
            setKey() {
                axios
                    .post(this.link, {}, {headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}})
                    .then(response => {
                        window.location.reload()
                    })
                    .catch(error => {
                        alert(error.response.data.message);
                    });
            },
        },
        mounted() {
            this.logEntries = JSON.parse(this.$attrs.logentries);
            this.project = JSON.parse(this.$attrs.project);
            this.baseURL = "/project/" + this.project.uuid;
            this.link = "/project/" + this.project.uuid + "/set-aes-key";
            this.logCodes = codes;
        },
        computed: {
            state() {
                return this.publicKey.length >= 4 ? true : false
            },
            invalidFeedback() {
                if (this.publicKey.length > 4) {
                    return ''
                } else if (this.publicKey.length > 0) {
                    return 'Enter at least 4 characters'
                } else {
                    return 'Please enter something'
                }
            },
            validFeedback() {
                return this.state === true ? '' : ''
            }
        },
    }
</script>

<style scoped>
    .flexWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flexWrapper p {
        margin: 0;
        padding: 0;
    }
</style>
