<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>{{this.logEntry.created_at}}</h2>
                        </div>
                        <div class="col-md-6">
                            <h2>Log Entry</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Log entry text</h3>
                            <p>{{this.logEntry.text}}</p>
                            <h3>Log entry notes</h3>
                            <div>
                                <div v-for="(note, key) in this.notes" :key="key+'note'">
                                    <a :href="baseURL + '/note/'+note.uuid"><h2>{{note.created_at}}</h2></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h3>Project logs</h3>
                                <div v-for="(log,key) in this.logEntry.logs" :key="key+'log'">
                                    <div class="flexWrapper">
                                        <p>{{log.created_at + ' ' + logCodes[log.event_type]}}</p>
                                        <b-button v-b-toggle="'collapse-'+key" class="m-1">Toggle Collapse</b-button>
                                    </div>
                                    <b-collapse :id="'collapse-'+key">
                                        <b-card>{{log.event_data}} {{ log.user.name}}</b-card>
                                    </b-collapse>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {codes} from "../logCodes";
    export default {
        name: "allNotes",
        data() {
            return {
                notes: [],
                logEntry: {},
                logCodes:{},
                baseURL: '',
            }
        },
        mounted() {
            this.notes = JSON.parse(this.$attrs.notes);
            this.logEntry = JSON.parse(this.$attrs.logentry);
            this.logCodes = codes;
            this.baseURL = "/project/" + this.logEntry.project.uuid + '/log-entry/' + this.logEntry.uuid;
        }
    }
</script>

<style scoped>
    .flexWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flexWrapper p {
        margin: 0;
        padding: 0;
    }
</style>
