<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>{{this.note.created_at}}</h2>
                        </div>
                        <div class="col-md-6">
                            <h2>Note</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Note text</h3>
                            <p>{{this.note.text}}</p>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h3>Note logs</h3>
                                <div v-for="(log,key) in this.note.logs" :key="key+'log'">
                                    <div class="flexWrapper">
                                        <p>{{log.created_at + ' ' + logCodes[log.event_type]}}</p>
                                        <b-button v-b-toggle="'collapse-'+key" class="m-1">Toggle Collapse</b-button>
                                    </div>
                                    <b-collapse :id="'collapse-'+key">
                                        <b-card>{{log.event_data}} {{ log.user.name}}</b-card>
                                    </b-collapse>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {codes} from "../logCodes";

    export default {
        name: "singleNote",
        data() {
            return {
                note: {}
            }
        },
        mounted() {
            this.note = JSON.parse(this.$attrs.note);
            this.logCodes = codes;
        }
    }
</script>

<style scoped>
    .flexWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flexWrapper p {
        margin: 0;
        padding: 0;
    }
</style>
