<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="flexWrapper">
                        <h2>Projects</h2>
                        <div class="apiKey">
                            <h2>API key</h2>
                            <p v-if="this.apiKey.length>0">{{this.apiKey}}</p>
                            <button v-if="typeof(this.apiKey)!='string'" class="btn btn-primary"
                                    v-on:click="setKey">Set API key
                            </button>
                        </div>
                        <a href="/project/create" class="btn btn-primary">Create project</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h3>Projects list</h3>
                                <div v-for="(project, key) in this.projects" :key="key+'Project'">
                                    <a :href="'/project/'+project.uuid"><h2>{{project.name}}</h2></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h3>User logs</h3>
                                <div v-for="(log,key) in this.logs" :key="key+'log'">
                                    <div class="flexWrapper">
                                        <p>{{log.created_at + ' ' + logCodes[log.event_type]}}</p>
                                        <b-button v-b-toggle="'collapse-'+key" class="m-1">Toggle Collapse</b-button>
                                    </div>
                                    <b-collapse :id="'collapse-'+key">
                                        <b-card>{{(log.event_data)}} {{ log.user.name}}</b-card>
                                    </b-collapse>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import {codes} from "../logCodes";
    import BootstrapVue from 'bootstrap-vue'

    Vue.use(BootstrapVue);
    export default {
        name: "allProjects",
        data() {
            return {
                projects: [],
                apiKey: '',
                logs: [],
                logCodes: {},
            }
        },
        methods: {
            setKey() {
                axios
                    .post('/set-api-key', {}, {headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}})
                    .then(response => {
                        window.location.reload()
                    })
                    .catch(error => {
                        alert(error.response.data.message);
                    });
            },
        },
        mounted() {
            this.projects = this.$attrs.projectslist;
            this.logs = this.$attrs.userlogs;
            this.logCodes = codes;
            axios.get('/get-api-key').then(res => (this.apiKey = res.data));
        },
    }
</script>

<style scoped>
    .flexWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
