<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="flexWrapper">
                        <h2>Create project</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <form @submit="formSubmit">
                            <b-form-group
                                id="fieldset-1"
                                description="This is your project name"
                                label="Enter your project name"
                                label-for="input-1"
                                :invalid-feedback="invalidFeedback"
                                :valid-feedback="validFeedback"
                                :state="state"
                            >
                                <b-form-input id="input-1" v-model="title" :state="state" trim></b-form-input>
                            </b-form-group>
                            <button class="btn btn-primary">Create project</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BootstrapVue from 'bootstrap-vue'

    Vue.use(BootstrapVue);
    export default {
        name: "createProject",
        data() {
            return {
                title: ''
            }
        },
        methods: {
            formSubmit(e) {
                e.preventDefault();
                axios
                    .post('/new-project',
                        {
                            'name': this.title,
                        },
                        {headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}}
                    )
                    .then(response => {
                        window.location.href=window.location.origin+'/projects';
                    })
                    .catch(error => {
                        alert(error.response.data.message);
                    });
            },
        },
        computed: {
            state() {
                return this.title.length >= 4 ? true : false
            },
            invalidFeedback() {
                if (this.title.length > 4) {
                    return ''
                } else if (this.title.length > 0) {
                    return 'Enter at least 4 characters'
                } else {
                    return 'Please enter something'
                }
            },
            validFeedback() {
                return this.state === true ? '' : ''
            }
        },

    }
</script>

<style scoped>

</style>
